@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab bold";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Droid Sans"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), local("Droid Sans"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Droid Sans"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Droid Sans"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo ExtraLight";
  src: local("Heebo ExtraLight"), local("Droid Sans"), url("../fonts/heebo/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Light";
  src: local("Heebo Light"), local("Droid Sans"), url("../fonts/heebo/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Regular";
  src: local("Heebo Regular"), local("Droid Sans"), url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Bold";
  src: local("Heebo Bold"), local("Droid Sans"), url("../fonts/heebo/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-color: color("midnight-blue");
  --primary-color: color("green-sea");
  --secondary-color: color("sun-flower");
  --white: color("white");
  --clouds: color("clouds");
  --silver: color("silver");
  --size: 40em;
  --widthprogress: 100%;
}

.accordion-container {
  margin: 0 auto;
  margin-bottom: 2rem;
}
@media (min-width: 600px) {
  .accordion-container {
    min-width: 33.75rem;
    max-width: 60vw;
  }
}
@media (max-width: 599px) {
  .accordion-container {
    min-width: var(--accordion-size);
  }
}

h2.ac-header {
  color: hsl(0, 0%, 100%);
  background-color: hsl(184, 6%, 53%);
}
h2.ac-header.active {
  color: hsl(0, 0%, 100%);
  background-color: hsla(282, 44%, 47%, 0.9);
  transition: background-color 0.3s ease-in-out;
}
h2.ac-header.active:hover {
  background-color: hsl(282, 44%, 47%);
}

.header-title {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.ac-header .ac-trigger {
  font-family: "Roboto Regular", sans-serif;
  color: hsl(0, 0%, 100%);
}

.ac-header_correct {
  font-family: "Heebo ExtraLight", sans-serif;
  margin-right: 2rem;
}
.ac-header_correct strong {
  font-family: "Heebo Regular", sans-serif;
}

button.ac-trigger {
  border-radius: 0;
}

.ac .ac-trigger:focus {
  color: hsl(0, 0%, 100%);
}

.title-item {
  font-family: "Roboto Regular", sans-serif;
  font-size: clamp(1rem, 0.9456rem + 0.1454vw, 1.2rem);
  background-color: hsl(192, 15%, 94%);
  padding: 0.5rem 1rem;
}

.code-item {
  display: block;
  font-family: "Heebo Bold", sans-serif;
  color: hsl(168, 76%, 36%);
  font-size: clamp(0.7rem, 0.6456rem + 0.1454vw, 0.9rem);
  padding: 0 1rem;
}
.code-item.error-user {
  color: hsl(6, 63%, 46%);
}

.text-item {
  font-size: clamp(0.8rem, 0.7456rem + 0.1454vw, 1rem);
  margin-bottom: 1.5rem;
  font-style: italic;
  padding: 0 1rem;
}/*# sourceMappingURL=accordion.css.map */