@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab bold";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Droid Sans"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), local("Droid Sans"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Droid Sans"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Droid Sans"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo ExtraLight";
  src: local("Heebo ExtraLight"), local("Droid Sans"), url("../fonts/heebo/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Light";
  src: local("Heebo Light"), local("Droid Sans"), url("../fonts/heebo/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Regular";
  src: local("Heebo Regular"), local("Droid Sans"), url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Bold";
  src: local("Heebo Bold"), local("Droid Sans"), url("../fonts/heebo/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-color: color("midnight-blue");
  --primary-color: color("green-sea");
  --secondary-color: color("sun-flower");
  --white: color("white");
  --clouds: color("clouds");
  --silver: color("silver");
  --size: 40em;
  --widthprogress: 100%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a:focus-visible,
button:focus-visible,
input:focus-visible,
select:focus-visible {
  outline: 2px dotted hsl(204, 8%, 76%);
  outline-offset: 2px;
}

a {
  text-decoration: none;
}

button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

fieldset {
  border: none;
}

input,
button {
  padding: 7px 10px;
  border-radius: 0.325rem;
  border: 1px solid hsl(204, 8%, 76%);
}
input#name,
button#name {
  text-transform: capitalize;
}

input.valid {
  background-color: hsl(168, 76%, 36%);
}
input.invalid {
  background-color: hsl(192, 15%, 94%);
}

/******************/
body {
  height: 100vh;
  font-family: "Roboto Regular", sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-direction: column;
      flex-direction: column;
  row-gap: 1rem;
  background-color: hsl(204, 70%, 53%);
}
@media (max-width: 599px) {
  body {
    row-gap: 0;
  }
}

h1 {
  font-family: "Roboto Slab bold", serif;
  font-size: 3rem;
  color: hsl(0, 0%, 100%);
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}
@media (max-width: 599px) {
  h1 {
    font-size: 2rem;
  }
}

h2 {
  font-family: "Roboto Slab Regular", sans-serif;
  font-size: 2rem;
  margin-right: 1rem;
  color: hsl(0, 0%, 100%);
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
  text-transform: capitalize;
}

button#burger-menu {
  font-size: 3rem;
  color: hsl(210, 30%, 24%);
  border: none;
  padding: 0;
  transition: color 300ms ease-in-out;
}
button#burger-menu:hover {
  color: hsl(192, 15%, 94%);
}

header {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: center;
      justify-content: center;
}
header.choose-quiz {
  -ms-flex-align: center;
      align-items: center;
}
header div {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
@media (max-width: 599px) {
  header {
    margin-top: 1rem;
  }
}

.main-content {
  position: relative;
}

.main-menu {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 200px;
  background-color: hsl(0, 0%, 100%);
  z-index: 110;
}
.main-menu a {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: block;
}
@media (max-width: 599px) {
  .main-menu {
    width: 200px;
  }
}
.main-menu ul {
  list-style: none;
  width: 100%;
}
.main-menu ul li {
  background-color: hsl(283, 39%, 53%);
  border-bottom: 1px solid white;
  cursor: pointer;
}
.main-menu ul li:first-child {
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.main-menu ul li:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(168, 76%, 36%);
}
.main-menu ul li a {
  color: hsl(0, 0%, 100%);
  text-transform: uppercase;
}
.main-menu ul li a.active {
  background-color: hsl(6, 63%, 46%);
}

section {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}

#choose-container {
  margin-bottom: 1.5rem;
}

.round {
  position: relative;
  width: 10rem;
  height: 10rem;
  margin: 0.5rem;
  border-radius: 50%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  color: hsl(0, 0%, 100%);
  background-color: hsl(48, 89%, 50%);
}
@media (max-width: 599px) {
  .round {
    width: 6rem;
    height: 6rem;
  }
}
.round-login {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.325rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(283, 39%, 53%);
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  transition: background-color 300ms ease-in-out;
}
.btn:hover {
  background-color: hsl(168, 76%, 36%);
}

.btn-print,
.btn-submit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
  color: hsl(0, 0%, 100%);
  background-color: hsl(282, 44%, 47%);
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
}
.btn-print:hover,
.btn-submit:hover {
  background-color: hsl(168, 76%, 36%);
}

.form-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-top: 1rem;
}

.error {
  font-size: 0.8rem;
  margin-left: 0.325rem;
  max-width: 11rem;
  color: hsl(0, 0%, 100%);
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}/*# sourceMappingURL=global.css.map */