@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab bold";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Droid Sans"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), local("Droid Sans"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Droid Sans"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Droid Sans"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo ExtraLight";
  src: local("Heebo ExtraLight"), local("Droid Sans"), url("../fonts/heebo/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Light";
  src: local("Heebo Light"), local("Droid Sans"), url("../fonts/heebo/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Regular";
  src: local("Heebo Regular"), local("Droid Sans"), url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Bold";
  src: local("Heebo Bold"), local("Droid Sans"), url("../fonts/heebo/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-color: color("midnight-blue");
  --primary-color: color("green-sea");
  --secondary-color: color("sun-flower");
  --white: color("white");
  --clouds: color("clouds");
  --silver: color("silver");
  --size: 40em;
  --widthprogress: 100%;
}

@keyframes animateModal {
  0% {
    top: -100%;
  }
  100% {
    top: 10%;
  }
}
.modal {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: start;
      justify-content: flex-start;
  gap: 0.4rem;
  width: 28rem;
  min-height: 16rem;
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  animation: animateModal 500ms ease-out;
  top: 10%;
  background-color: hsl(0, 0%, 100%);
  border-radius: 15px;
  z-index: 101;
  box-shadow: 1px 1px 1px hsl(210, 30%, 24%);
}
@media (max-width: 599px) {
  .modal {
    width: 90%;
  }
}
.modal h3 {
  color: hsl(210, 30%, 24%);
}
.modal .btn-submit {
  width: 100%;
}

.modal .flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: end;
      justify-content: flex-end;
}

.modal p {
  font-size: 1.2rem;
  color: hsl(210, 29%, 29%);
  margin: 0.4rem 0 0rem;
  text-align: center;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  transform: translate(10px, -20px);
  padding: 0.5rem 0.7rem;
  color: hsl(24, 100%, 41%);
  background-color: hsl(0, 0%, 100%);
  border-radius: 50%;
  border: 1px solid hsl(184, 6%, 53%);
  transition: background-color 300ms ease-in-out;
  font-size: 1.1rem;
}
.btn-close:hover {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 30%, 24%);
}

.overlay,
.overlay-start {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  z-index: 100;
}

.hidden {
  display: none;
}

.notation {
  font-size: 2rem;
  line-height: 30px;
}

.comment-notation {
  font-size: 1.2rem;
  color: hsl(210, 30%, 24%);
  width: 80%;
  margin-top: 2rem;
}

.modal-start {
  position: absolute;
  width: 5rem;
  height: 5rem;
}

.btn-start-container {
  position: relative;
  z-index: 101;
  transform: translateY(-50%);
}

.btn-modal-start {
  position: relative;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  font-size: 5rem;
  color: hsl(282, 44%, 47%);
  background-color: hsl(192, 15%, 94%);
  transition: color 300ms ease-in-out, transform 300ms ease-in-out;
}
.btn-modal-start:hover {
  color: hsl(168, 76%, 36%);
  transform: scale(1.2);
}
.btn-modal-start::after {
  content: "Commencer";
  position: absolute;
  font-family: "Roboto Slab bold", serif;
  font-size: 1.5rem;
  top: 5rem;
  left: -1.8rem;
  color: hsl(0, 0%, 100%);
}/*# sourceMappingURL=modal.css.map */