@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab bold";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Droid Sans"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), local("Droid Sans"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Droid Sans"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Droid Sans"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo ExtraLight";
  src: local("Heebo ExtraLight"), local("Droid Sans"), url("../fonts/heebo/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Light";
  src: local("Heebo Light"), local("Droid Sans"), url("../fonts/heebo/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Regular";
  src: local("Heebo Regular"), local("Droid Sans"), url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Bold";
  src: local("Heebo Bold"), local("Droid Sans"), url("../fonts/heebo/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-color: color("midnight-blue");
  --primary-color: color("green-sea");
  --secondary-color: color("sun-flower");
  --white: color("white");
  --clouds: color("clouds");
  --silver: color("silver");
  --size: 40em;
  --widthprogress: 100%;
}

table#quiz-table-results {
  margin: 2rem auto;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: collapse;
}
@media (min-width: 600px) {
  table#quiz-table-results {
    min-width: 450px;
    max-width: calc(100vw - 0.875rem);
  }
}
@media (max-width: 599px) {
  table#quiz-table-results {
    width: -webkit-fill-available;
    min-width: 280px;
  }
}

caption {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  background-color: #107561;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

thead {
  font-size: 1.2rem;
  color: hsl(210, 30%, 24%);
  border: 1px solid hsl(168, 76%, 36%);
  line-height: 2.5;
  text-transform: capitalize;
  text-align: center;
}
thead th:first-child {
  text-align: center;
}

tbody th {
  padding-left: 10px;
  text-align: left;
}
tbody tr {
  padding: 1rem;
}
tbody tr:nth-child(even) {
  color: hsl(206, 21%, 15%);
  background-color: hsl(192, 15%, 94%);
}
tbody tr:nth-child(odd) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 30%, 24%);
}
tbody td {
  padding: 7px 5px;
  font-size: 0.85rem;
  text-align: center;
}
tbody td:last-child {
  text-align: center;
}

tfoot {
  padding: 20px;
}
tfoot .result-footer {
  text-align: center;
}

@media print {
  header {
    display: none;
  }
  .content-results {
    display: none;
  }
  #quiz-table-results {
    display: block;
  }
  #quiz-table-results .btn-print {
    display: none;
  }
  #quiz-table-results tbody th {
    padding-left: 10px;
  }
  #quiz-table-results tbody tr {
    padding: 1rem;
    color: hsl(210, 30%, 24%);
  }
  #quiz-table-results tbody td {
    padding: 7px;
  }
}/*# sourceMappingURL=results.css.map */