@font-face {
  font-family: "Roboto Slab Regular";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Slab bold";
  src: local("Roboto Slab"), url("../fonts/roboto-slab/RobotoSlab-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Regular";
  src: local("Roboto"), local("Droid Sans"), url("../fonts/roboto/Roboto-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Light";
  src: local("Roboto Light"), local("Droid Sans"), url("../fonts/roboto/Roboto-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Medium";
  src: local("Roboto Medium"), local("Droid Sans"), url("../fonts/roboto/Roboto-Medium.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Roboto Bold";
  src: local("Roboto Bold"), local("Droid Sans"), url("../fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo ExtraLight";
  src: local("Heebo ExtraLight"), local("Droid Sans"), url("../fonts/heebo/Heebo-ExtraLight.ttf") format("truetype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Light";
  src: local("Heebo Light"), local("Droid Sans"), url("../fonts/heebo/Heebo-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Regular";
  src: local("Heebo Regular"), local("Droid Sans"), url("../fonts/heebo/Heebo-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Heebo Bold";
  src: local("Heebo Bold"), local("Droid Sans"), url("../fonts/heebo/Heebo-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --base-color: color("midnight-blue");
  --primary-color: color("green-sea");
  --secondary-color: color("sun-flower");
  --white: color("white");
  --clouds: color("clouds");
  --silver: color("silver");
  --size: 40em;
  --widthprogress: 100%;
}

table {
  min-width: 350px;
  background-color: hsl(0, 0%, 100%);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: collapse;
}

caption {
  font-size: 1.5rem;
  color: hsl(0, 0%, 100%);
  background-color: hsl(210, 30%, 24%);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

thead {
  font-size: 1.2rem;
  color: hsl(210, 30%, 24%);
  border: 1px solid hsl(168, 76%, 36%);
  line-height: 2.5;
}

tbody th {
  padding-left: 10px;
}
tbody tr {
  padding: 1rem;
}
tbody tr:nth-child(odd) {
  color: hsl(0, 0%, 100%);
  background-color: hsl(192, 15%, 94%);
}
tbody tr:nth-child(odd) {
  background-color: hsl(168, 76%, 36%);
}
tbody td {
  padding: 7px;
}

tfoot {
  padding: 20px;
}

@media print {
  header {
    display: none;
  }
  #quiz-table-results {
    display: block;
  }
}/*# sourceMappingURL=results.css.map */