@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  @include mixins.mobile-down {
    width: 92%;
  }
}
.quiz-title {
  position: relative;
  display: flex;
  flex-direction: column;

  button {
    border: none;
  }
  .skills__icon {
    width: 60%;
    @include mixins.mobile-down {
      width: 40%;
    }
  }
}

.btn-choose {
  font-size: 2 * variables.$base-font-size;
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 2rem;
  opacity: 0.8;
  &:hover {
    opacity: 1;
    background-color: functions.color('wisteria');
  }
  &:disabled {
    transform: rotateY(180deg);
  }
  @include mixins.mobile-down {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 2rem;
  }
}

#page-bottom {
  position: relative;
  top: 120px;
}
