@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

main {
  display: grid;
  place-items: center;
  position: relative;

  @include mixins.mobile-down {
    width: 92%;
  }
}

.quiz-title {
  position: relative;
  display: flex;
  flex-direction: column;

  .skills__icon {
    width: clamp(40%, 50%, 60%);
  }

  button {
    border: 1px solid functions.color('white');
  }
}

.btn-choose {
  $btn-font-size: 2 * variables.$base-font-size;

  font-size: $btn-font-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  opacity: 0.8;
  transition: all 0.3s ease;

  &:hover {
    opacity: 1;
    background-color: functions.color('wisteria');
    transform: skew(-1deg);
  }

  &:disabled {
    transform: rotateY(180deg);
  }
}

#page-bottom {
  position: relative;
  top: 120px;
}

///////////////////////////////////
