@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

aside {
  position: absolute;
  top: 5%;
  right: 15%;
  z-index: 100;
  @include mixins.mobile-down() {
    top: 2%;
    right: 5%;
  }
  .timer {
    position: relative;
    top: 50px;
    left: 20px;
    z-index: 10;
    color: functions.color('white');
  }
  .seconds {
    color: transparent !important;
  }
}

.countdown-container {
  color: transparent !important;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

#clock {
  @include mixins.flex-center();
  background-color: functions.color('silver');
}

@keyframes progress {
  100% {
    stroke-dashoffset: 1256.12939453125;
  }
}
