@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

aside {
  position: absolute;
  top: 6%;
  right: 13%;
  z-index: 100;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include mixins.mobile-down() {
    top: 4%;
    right: 5%;
  }
  .timer {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    z-index: 10;
    color: functions.color('white');
    &.over {
      color: functions.color('alzarin');
    }
  }
  .seconds {
    color: transparent !important;
  }
}

.countdown-container {
  color: transparent !important;
  border-radius: 50%;
  height: 90px;
  width: 90px;
}

#clock {
  @include mixins.flex-center();
  background-color: functions.color('silver');
}

@keyframes progress {
  100% {
    stroke-dashoffset: 1256.12939453125;
  }
}
