@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

aside {
  position: absolute;
  top: 5%;
  right: 15%;
  z-index: 100;
}
#clock {
  @include mixins.flex-center();
}

@keyframes progress {
  100% {
    stroke-dashoffset: 1256.12939453125;
  }
}
