@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input,
select {
  &:focus-visible {
    outline: 2px dotted functions.color('silver');
    outline-offset: 2px;
  }
}

a {
  text-decoration: none;
}
// Reset original HTML button
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

fieldset {
  border: none;
}

input,
button {
  border-radius: 0.325rem;
  border: 1px solid functions.color('silver');
  &#name {
    text-transform: capitalize;
  }
}

input {
  padding: 7px 10px;
  &.valid {
    background-color: functions.color('green-sea');
  }
  &.invalid {
    background-color: functions.color('clouds');
  }
}
/******************/
body {
  // height: 100vh;
  font-family: 'Roboto Regular', sans-serif;
  @include mixins.flex-center();
  justify-content: flex-start;
  flex-direction: column;
  row-gap: 1rem;
  @include mixins.mobile-down() {
    row-gap: 0;
  }
  background-color: functions.color('peter-river');
}

h1 {
  font-family: variables.$heading-font-family;
  font-size: clamp(2rem, 1.4557rem + 1.4539vw, 4rem);
  color: functions.color('white');
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: variables.$heading-font-family;
  font-size: clamp(2.5rem, 1.9557rem + 1.4539vw, 4.5rem);
  color: functions.color('white');
  text-align: center;
  letter-spacing: 3px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h3 {
  font-family: variables.$heading-font-family;
  font-size: 2 * variables.$base-font-size;
  margin-right: 1rem;
  color: functions.color('white');
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

button#burger-menu {
  font-size: 3rem;
  color: functions.color('wet-asphalt');
  padding-top: 4px;
  border: none;
  transition: color 300ms ease-in-out;
  &:hover {
    color: functions.color('clouds');
  }
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  h2 {
    line-height: 40px;
  }
  h3 {
    font-family: variables.$heading-font-family;
    font-size: clamp(1.2rem, 1.0639rem + 0.3635vw, 1.7rem);
    margin: 0;
    text-transform: capitalize;
  }
}

header div {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.main-content {
  position: relative;
}
.main-menu {
  position: absolute;
  top: 3rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  min-width: 200px;
  a {
    width: 100%;
    height: 100%;
    padding: 1rem;
    display: block;
  }
  @include mixins.mobile-down() {
    width: 200px;
  }
  // border: 3px solid white;
  background-color: functions.color('white');
  z-index: 110;
  ul {
    list-style: none;
    width: 100%;
    li {
      background-color: functions.color('amethyst');
      border-bottom: 1px solid white;
      cursor: pointer;
      &:first-child {
        border-top: 1px solid white;
        border-bottom: 1px solid white;
      }
      &:hover {
        color: functions.color('white');
        background-color: functions.color('green-sea');
      }
      a {
        color: functions.color('white');
        text-transform: uppercase;
        &.active {
          background-color: functions.color('pomegranate');
        }
      }
    }
  }
}

section {
  position: relative;
  display: flex;
  flex-direction: column;
}

#choose-container {
  margin-bottom: 1.5rem;
}

.round {
  position: relative;
  aspect-ratio: 1;
  width: clamp(10rem, 8vw, 12rem);
  border-radius: 50%;
  box-shadow: 5px 5px 5px 1px rgba(0, 0, 0, 0.25);
  @include mixins.flex-center();
  flex-direction: column;
  color: functions.color('white');
  background-color: functions.color('sun-flower');
  background: radial-gradient(
    circle at 30px 30px,
    functions.color('orange'),
    functions.color('sun-flower')
  );
  &-login {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    padding-top: 10px;
  }
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.325rem;
  color: functions.color('white');
  background-color: functions.color('amethyst');
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: functions.color('green-sea');
  }
}

.btn-print,
.btn-submit {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin: 1rem 0;
  color: functions.color('white');
  background-color: functions.color('wisteria');
  transition: background-color 300ms ease-in-out;
  cursor: pointer;
  &:hover {
    background-color: functions.color('green-sea');
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.error {
  font-size: 0.8rem;
  margin-left: 0.325rem;
  max-width: 11rem;
  color: functions.color('white');
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
