@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

:root {
  --base-color: #{functions.color('midnight-blue')};
  --primary-color: #{functions.color('green-sea')};
  --secondary-color: #{functions.color('sun-flower')};
  --white: #{functions.color('white')};
  --clouds: #{functions.color('clouds')};
  --silver: #{functions.color('silver')};
  --size: 40em;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a,
button,
input,
select {
  &:focus-visible {
    outline: 2px dotted functions.color('silver');
    outline-offset: 2px;
  }
}

// Reset original HTML button
button {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  border: none;
  background-color: transparent;
  outline: 0;
  padding: 0;
  cursor: pointer;
}

fieldset {
  border: none;
}

input {
  padding: 7px 10px;
  border-radius: 0.325rem;
  border: 1px solid functions.color('silver');
  &#name {
    text-transform: capitalize;
  }
}

/******************/
body {
  font-family: 'Roboto Regular', sans-serif;
  @include mixins.flex-center();
  flex-direction: column;
  row-gap: 3rem;
  background-color: functions.color('peter-river');
}

header {
  position: relative;
  top: -8rem;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
  color: functions.color('white');
  background-color: functions.color('sun-flower');
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: inset 0 0 10px 1px rgba(0, 0, 0, 0.05);
  @include mixins.mobile-down {
    background-color: functions.color('clouds');
  }
}
main {
  position: relative;
  top: -8rem;
  width: min-content;
}
h1 {
  font-family: variables.$heading-font-family;
  font-size: 3 * variables.$base-font-size;
  color: functions.color('white');
  text-align: center;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.25);
}

h2 {
  font-family: 'Roboto Medium', sans-serif;
  color: functions.color('wet-asphalt');
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.05);
}

.btn {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.325rem;
  color: functions.color('white');
  background-color: functions.color('wisteria');
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.25);
  width: 100%;
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: functions.color('pumpkin');
  }
}

.form-group {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.error {
  font-size: 0.8rem;
  margin-left: 0.325rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}
