@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';
@use 'animation';

.modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 0.4rem;
  width: 28rem;
  min-height: 16rem;
  @include mixins.mobile-down {
    width: 90%;
  }
  padding: 0 1rem 1rem 1rem;
  position: absolute;
  animation: animateModal 500ms ease-out;
  top: 10%;
  background-color: functions.color('white');
  // border: 1px solid functions.color('silver');
  border-radius: 15px;
  z-index: 101;
  box-shadow: 1px 1px 1px functions.color('midnight-blue');
  h3 {
    color: functions.color('midnight-blue');
  }
  .btn-submit {
    width: 100%;
  }
}

.modal .flex {
  display: flex;
  justify-content: flex-end;
}

.modal p {
  font-size: 0.8rem;
  color: functions.color('wet-asphalt');
  margin: 0 0 0.4rem;
  text-align: center;
}

.btn-open {
  position: absolute;
  bottom: 150px;
}

.btn-close {
  position: relative;
  transform: translate(26px, -18px);
  width: 35px;
  height: 35px;
  border-radius: 50%;
  color: functions.color('pumpkin');
  background-color: functions.color('white');
  border: 1px solid functions.color('asbestos');
}
.btn-close:hover {
  color: functions.color('white');
}
.btn-close:before,
.btn-close:after {
  position: absolute;
  left: 16px;
  top: 7px;
  content: ' ';
  height: 20px;
  width: 2px;
  background-color: functions.color('midnight-blue');
  transition: background-color 200ms ease-in-out;
}
.btn-close:hover::before {
  background-color: functions.color('alzarin');
}
.btn-close:hover::after {
  background-color: functions.color('alzarin');
}

.btn-close:before {
  transform: rotate(45deg);
}
.btn-close:after {
  transform: rotate(-45deg);
}

.overlay,
.overlay-start {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
  z-index: 100;
}

.hidden {
  display: none;
}

.notation,
.points {
  font-size: clamp(1.5rem, 1.3639rem + 0.3635vw, 2rem);
  line-height: 30px;
}

h3.points {
  color: functions.color('alzarin');
}

.comment-notation {
  font-size: 1.2rem;
  color: functions.color('midnight-blue');
  width: 80%;
  margin-top: 2rem;
}

.modal-start {
  position: absolute;
  width: 5rem;
  height: 5rem;
}

.btn-start-container {
  position: relative;
  z-index: 101;
  transform: translateY(-50%);
}

.btn-modal-start {
  position: relative;
  display: block;
  background-color: #fff;
  top: 20px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 5px solid functions.color('wisteria');
  transition: border 300ms;
  cursor: pointer;
  &:hover {
    border-color: functions.color('green-sea');
  }
  &::before {
    content: ' ';
    position: absolute;
    width: 90px;
    height: 90px;
    background-color: white;
    border-radius: 50%;
    top: -10px;
    left: -10px;
    z-index: -1;
  }
  &::after {
    content: '\25B6';
    position: absolute;
    top: 29px;
    left: 34px;
    color: functions.color('wisteria');
    scale: 3.5;
    transition: color 300ms;
  }
  &:hover::after {
    color: functions.color('green-sea');
  }
}
