@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

h3 {
  font-family: 'Roboto light', sans-serif;
  font-size: clamp(1.2rem, 0.4632rem + 2.3579vw, 4rem);
  color: functions.color('midnight-blue');
  text-align: center;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  color: functions.color('white');
  @include mixins.mobile-down() {
    line-height: 19px;
    width: 100%;
  }
}

.swiper-slide {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  button {
    &.correct {
      background-color: functions.color('green-sea');
      pointer-events: none;
      color: currentColor;
    }
    &.incorrect {
      background-color: functions.color('alzarin');
      pointer-events: none;
      color: currentColor;
    }
  }
}

.pagination {
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  bottom: 100px;
  color: functions.color('white');
  font-size: 0.9rem;
  @include mixins.mobile-down() {
    visibility: hidden;
  }
}

.score {
  font-size: 1.1rem;
  color: functions.color('white');
  width: 120px;
  height: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 1rem;
}

.swiper-button-prev,
.swiper-button-next {
  color: functions.color('white');
  width: 80px;
  height: 80px;
  border-radius: 50%;
  @include mixins.mobile-down() {
    width: 60px;
    height: 60px;
  }
  background-color: functions.color('sun-flower');
  transition: background-color 300ms ease-in-out;
  &:hover {
    background-color: functions.color('pomegranate');
  }
}

.swiper-button-prev {
  transform: translateX(-50%) rotate(90deg);
  left: 50%;
  top: 8%;
}

.swiper-button-next {
  transform: translateX(-50%) rotate(90deg);
  left: 50%;
  top: 86%;
}

.swiper__quiz-slider {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  justify-content: space-between;
  @include mixins.mobile-down() {
    flex-direction: column;
    flex: nowrap;
    margin-top: 0.8rem;
  }
  .answer-item {
    @include mixins.mobile-down() {
      width: 100%;
      font-size: 0.9rem;
    }
  }
}

nav button {
  font-size: clamp(1rem, 0.9118rem + 0.3922vw, 1.5rem);
  color: functions.color('midnight-blue');
  width: 49%;
  border-radius: 2rem;
  border: 2px solid functions.color('white');
  padding: 1rem;
  background-color: functions.color('white');
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
  &:hover {
    color: functions.color('white');
    background-color: functions.color('midnight-blue');
  }
  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

#container {
  // background: linear-gradient(
  //   -45deg,
  //   hsl(28, 80%, 52%),
  //   hsl(283, 39%, 53%),
  //   hsl(204, 64%, 44%),
  //   hsl(145, 63%, 49%)
  // );
  background-size: 400% 400%;
  // animation: gradient 15s ease infinite;
  background-color: functions.color('black-pearl');
  color: functions.color('white');
  max-height: 35rem;
  width: 84%;
  @include mixins.mobile-down() {
    max-height: 38rem;
    // width: 95%;
  }
  padding: 0 1.5rem;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1rem;
}

progress {
  --widthprogress: 84%;
  @include mixins.mobile-down() {
    --widthprogress: 95%;
  }
  width: var(--widthprogress);
  margin-left: auto;
  margin-right: auto;
  &.update {
    accent-color: functions.color('wisteria');
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
