@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

table {
  min-width: 350px;
  background-color: functions.color('white');
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: collapse;
}

caption {
  font-size: 1.5rem;
  color: functions.color('white');
  background-color: functions.color('midnight-blue');
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
thead {
  font-size: 1.2rem;
  color: functions.color('midnight-blue');
  border: 1px solid functions.color('green-sea');
  line-height: 2.5;
}

tbody {
  th {
    padding-left: 10px;
  }
  tr {
    padding: 1rem;
    &:nth-child(odd) {
      color: functions.color('white');
      background-color: functions.color('clouds');
    }
    &:nth-child(odd) {
      background-color: functions.color('green-sea');
    }
  }
  td {
    padding: 7px;
  }
}
tfoot {
  padding: 20px;
}

@media print {
  header {
    display: none;
  }
  #quiz-table-results {
    display: block;
  }
}
