@use 'typography';
@use 'variables';
@use 'mixins';
@use 'functions';

table#quiz-table-results {
  min-width: 350px;
  margin-top: 1.4rem;
  background-color: functions.color('white');
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-collapse: collapse;
}

caption {
  font-size: 1.5rem;
  color: functions.color('white');
  background-color: functions.color('midnight-blue');
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
thead {
  font-size: 1.2rem;
  color: functions.color('midnight-blue');
  border: 1px solid functions.color('green-sea');
  line-height: 2.5;
  text-transform: capitalize;
  th:first-child {
    width: 53%;
  }
}

tbody {
  th {
    padding-left: 10px;
  }
  tr {
    padding: 1rem;
    &:nth-child(odd) {
      color: functions.color('white');
      background-color: functions.color('clouds');
    }
    &:nth-child(odd) {
      background-color: functions.color('green-sea');
    }
  }
  td {
    padding: 7px;
    font-size: 0.85rem;
  }
}
tfoot {
  padding: 20px;
}

@media print {
  header {
    display: none;
  }
  #quiz-table-results {
    display: block;
    .btn-print {
      display: none;
    }
    tbody {
      th {
        padding-left: 10px;
      }
      tr {
        padding: 1rem;
        color: functions.color('midnight-blue');
      }
      td {
        padding: 7px;
      }
    }
  }
}
